body {
    background: #F7F7F7;
}

.navbar-default {
    background-color: #8687BE;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a {
    color: #FFF;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #D3DEFC;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #D3DEFC;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #FFF;
    background-color: #9094C5;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    color: #FFF;
    background-color: #9094C5;
}

.footer {
    color: #777;
    padding: 20px 0 10px;
}

.thumbnail-no-border {
    border: 0px;
    padding: 5px;
    margin-bottom: 0px;
}

.thumbnail-container {
    min-height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.truncate {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.panel-people {
    min-height: 80px;
}
