#admin-main-index {
    margin-top: 60px;
}

body {
    background: #e2e2e2;
}

.navbar-default {
    background-color: #32669A;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a {
    color: #FFF;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #E8E8E8;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #E8E8E8;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #FFF;
    background-color: #32559A;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    color: #FFF;
    background-color: #32559A;
}

.footer {
    color: #777;
    padding: 20px 0 10px;
}

.thumbnail-no-border {
    border: 0px;
    padding: 5px;
    margin-bottom: 0px;
}
