{% extends 'layout/backend/home.html' %}

{% block container_home %}
    <div class="content-header">
        <h1>Home <small>Control panel</small></h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Index</li>
        </ol>
    </div>
    <div class="content">
        <div class="row">
            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>{{ counter.list_users }}</h3>
                        <p>List Users</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person"></i>
                    </div>
                    <a href="{{ url_for('admin_list_user.index') }}" class="small-box-footer">
                        More info <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3>{{ counter.list_tweets }}</h3>
                        <p>List User Tweets</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-social-twitter"></i>
                    </div>
                    <a href="{{ url_for('admin_list_tweet.index') }}" class="small-box-footer">
                        More info <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3>{{ counter.list_medias.hide }}</h3>
                        <p>List User Medias (Hide)</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                    </div>
                    <a href="{{ url_for('admin_list_media.index', status='hide') }}" class="small-box-footer">
                        More info <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3>{{ counter.list_medias.show }}</h3>
                        <p>List User Medias (Show)</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-happy"></i>
                    </div>
                    <a href="{{ url_for('admin_list_media.index', status='show') }}" class="small-box-footer">
                        More info <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-blue">
                    <div class="inner">
                        <h3>{{ counter.list_medias.trash }}</h3>
                        <p>List User Medias (Trash)</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-trash-a"></i>
                    </div>
                    <a href="{{ url_for('admin_list_media.index', status='trash') }}" class="small-box-footer">
                        More info <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-purple">
                    <div class="inner">
                        <h3>{{ counter.accounts }}</h3>
                        <p>Accounts</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-pie-graph"></i>
                    </div>
                    <a href="#" class="small-box-footer">
                        Admin accounts
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
