{% extends 'layout/backend.html' %}

{% block container %}
    <div id="admin-main-index">
        <div class="container">
            {% include 'share/flash-message.html' %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    Sign in
                </div>
                <div class="panel-body">
                    <form role="form" method="post" class="form-horizontal">
                        {{ form.csrf_token }}
                        <div class="form-group">
                            {{ form.account.label(class="col-sm-2 control-label", for="inputAccount") }}
                            <div class="col-sm-10">
                                {{ form.account(id="inputAccount", placeholder="Account", class="form-control", autocorrect="off", autocapitalize="off") }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form.password.label(class="col-sm-2 control-label", for="inputPassword") }}
                            <div class="col-sm-10">
                                {{ form.password(id="inputPassword", placeholder="Password", class="form-control") }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="checkbox">
                                    {{ form.permanent() }} {{ form.permanent.label }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default">Sign in</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
