{% extends 'layout/frontend.html' %}

{% block navbar %}
    {{ navigation('people') }}
{% endblock %}

{% block subtitle %}People List{% endblock %}

{% block ogmeta %}
<meta property="og:title" content="People List">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ url_for('people.index', _external=True) }}" />
<meta property="og:site_name" content="Tautr" />
{% endblock %}

{% block container %}
    <div class="people-index" data-mixpanel-page="People-Index" data-mixpanel-action="loaded">
        <div class="row">
            {% for list_user in list_users %}
                <div class="col-xs-12 col-sm-12 col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object img-rounded" src="{{ list_user.profile_image_url | replace('http://', 'https://') }}" data-error-size="48x48">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h5 class="media-heading">{{ list_user.name }}</h5>
                                    <a href="{{ url_for('people.profile', screen_name=list_user.screen_name) }}">
                                        @{{ list_user.screen_name }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
