{% from 'share/macro.html' import navigation %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>{% block title %}{% block subtitle %}{% endblock %}{% if self.subtitle() %} - {% endif %}Taut{% endblock %}</title>
<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='client/img/favicon.ico') }}">
<link href="{{ url_for('static', filename='vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vendor/photoswipe/photoswipe.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vendor/photoswipe/default-skin/default-skin.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='client/css/default.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/photoswipe/photoswipe.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/photoswipe/photoswipe-ui-default.min.js') }}"></script>
<script src="{{ url_for('static', filename='client/js/default.js') }}"></script>
</head>
<body>
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('index.index') }}">Taut</a>
            </div>
            <div class="collapse navbar-collapse">
                {% block navbar %}
                    {{ navigation() }}
                {% endblock %}

                {% if g.user %}
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                {{ g.user.username }} <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ url_for('settings.profile') }}">Profile</a></li>
                                <li class="divider"></li>
                                <li><a href="{{ url_for('developer.index') }}">Developer</a></li>
                                <li class="divider"></li>
                                <li><a href="{{ url_for('index.logout') }}">Sign Out</a></li>
                            </ul>
                        </li>
                    </ul>
                {% else %}
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ url_for('index.login') }}">Sign In</a></li>
                        <li><a href="{{ url_for('index.register') }}">Sign Up</a></li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
    <div id="wrapper">
        <div class="container">

                <div class="col-md-12">
                    {% include 'share/flash-message.html' %}
                </div>

            {% block container %}
            {% endblock %}
        </div>
    </div>

    <div class="footer">
        <div class="container">
            <hr>
            <small>
                <span class="pull-left">&copy; Taut 2014</span>
                <span class="pull-right">&nbsp;</span>
            </small>
        </div>
    </div>

    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>
            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div>
                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                    <button class="pswp__button pswp__button--share" title="Share"></button>
                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                          <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>
                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                </button>
                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                </button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>
        </div>
    </div>

    {% include "share/google-analytics.html" %}
</body>
</html>
