{% extends 'layout/frontend/settings.html' %}

{% block container_settings %}
    <div class="settings-profile">
        <div class="panel panel-default">
            <div class="panel-body">
                <fieldset>
                    <legend>Dropbox Log ( latest 10 record )</legend>
                    {% for log in dropbox_logs %}
                        <div class="row container">
                            {% if log.status == 'success' %}
                                <span class="text-success">
                                    <span class="glyphicon glyphicon-ok"></span>&nbsp;
                                    The {{ log.user.screen_name }} image was synchronized&nbsp;
                                    <span class="glyphicon glyphicon-arrow-right"></span>&nbsp;
                                    {% if log.media.hash_id %}
                                        Page link is <a href="{{ url_for_media_detail(log.media) }}">{{ url_for_media_detail(log.media) }}</a>&nbsp;
                                    {% else %}
                                        <span class="text-muted">Meida is lost or deleted</span>
                                    {% endif %}
                                    <small class="text-muted">({{ log.create_at | timeago }})</small>
                                </span>
                            {% else %}
                                <span class="text-danger">
                                    <span class="glyphicon glyphicon-remove"></span>&nbsp;
                                    The {{ log.user.screen_name }} image could not be synchronized&nbsp;
                                    <span class="glyphicon glyphicon-arrow-right"></span>&nbsp;
                                    {% if log.media.hash_id %}
                                        Page link is <a href="{{ url_for_media_detail(log.media) }}">{{ url_for_media_detail(log.media) }}</a>&nbsp;
                                    {% else %}
                                        <span class="text-muted">Meida is lost or deleted</span>
                                    {% endif %}
                                    <small class="text-muted">({{ log.create_at | timeago }})</small>
                                </span>
                            {% endif %}
                        </div>
                    {% endfor %}
                </fieldset>
            </div>
        </div>
    </div>
{% endblock %}
