.DS_Store
*.pyc
*.pyo
venv
storage/*.sqlite
storage/celery-beat
storage/cache/*
storage/dropbox/*
taut/configs/default.py
taut/configs/thumbor.py
storage/twitter-list-last-id.txt
static/sitemap*.xml
static/.webassets-cache/
static/assets/
