# coding: utf-8

import os
from celery.schedules import crontab

DEBUG                      = True
SERVER_NAME                = "localhost"
SESSION_COOKIE_NAME        = '_s'
PERMANENT_SESSION_LIFETIME = 3600 * 24 * 30
SECRET_KEY                 = "Your_Secret_Key"
API_SECRET_KEY             = "Your_API_Secret_Key"
PREFERRED_URL_SCHEME       = "https"

SQLALCHEMY_DATABASE_URI    = 'sqlite:///%s' % os.path.join(os.getcwd(), 'storage', 'default.sqlite')

BABEL_DEFAULT_LOCALE       = "en"
BABEL_DEFAULT_TIMEZONE     = "Asia/Hong_Kong"

BROKER_URL                   = 'redis://localhost:6379/0',
CELERY_RESULT_BACKEND        = 'redis://localhost:6379'
CELERY_ACCEPT_CONTENT        = ['json', 'msgpack', 'yaml']
CELERY_TASK_SERIALIZER       = 'json'
CELERY_RESULT_SERIALIZER     = 'json'
CELERY_LOG_LEVEL             = 'INFO'
# CELERYD_LOG_FILE             = os.path.join(os.getcwd(), 'storage/celeryd.log')
CELERY_TIMEZONE              = 'Asia/Hong_Kong'
CELERYBEAT_SCHEDULE_FILENAME = os.path.join(os.getcwd(), 'storage/celery-beat')
CELERYBEAT_SCHEDULE          = {
    'fetch-lists-g': {
        'task': 'taut.tasks.schedule.fetch_lists',
        'schedule': crontab(minute="*/5"), # every 5 minute
        'args': ('LIST_ID', 'SLUG')
    },
    'create-sitemap-all': {
        'task': 'taut.tasks.schedule.create_sitemap',
        'schedule': crontab(minute=0, hour='*/3'), # every three hours
        'args': (0, 10000)
    },
    'check-not-found': {
        'task': 'taut.tasks.schedule.check_not_found',
        'schedule': crontab(minute=0, hour='*/8'), # every eight hours
        'args': None
    },
    'update-avatar': {
        'task': 'taut.tasks.schedule.update_avatar',
        'schedule': crontab(minute=0, hour=0), # every daily
        'args': None
    },
}

TWITTER_LIST_LAST_ID_FILENAME = os.path.join(os.getcwd(), 'storage/twitter-list-last-id.txt')

TWITTER = {
    'consumer_key'       : None,
    'consumer_secret'    : None,
    'access_token_key'   : None,
    'access_token_secret': None
}

GRAVATAR_BASE_URL = 'http://www.gravatar.com/avatar/'
GRAVATAR_EXTRA    = ''

THUMBOR_BASE_URL     = 'http://localhost:8888'
THUMBOR_SECURITY_KEY = '______YOUR_SECRET_KEY______'

GOOGLE_ANALYTICS    = ''
GOOGLE_ANALYTICS_DC = False

ADDTHIS = {
    'enable'   : True,
    'facebook' : True,
    'twitter'  : True,
    'google'   : True,
    'sinaweibo': True,
    'plurk'    : True,
    'pinterest': True,
    'pubid'    : '',
}


FACEBOOK_FAN_PAGE = {
    'enable': False,
    'app_id': '',
    'url'   : ''
}

GOOGLE_ADSENSE = {
    'client'   : 'ca-pub-XXXXX',
    'slidebar' : dict(enable=False, slot=''),
    'footer'   : dict(enable=False, slot='')
}

STATUS_IN_SIDEBAR = False

ROLLBAR = {
    'enable'      : False,
    'access_token': ''
}

MIXPANEL = {
    'enable'      : False,
    'access_token': ''
}
