import os

# Support hide the image original url in image link
# - if enable, the default settings must set USE_ORIGNAL_IMAGE_URL to True
# LOADER  = "thumbor.loaders.twimg"

STORAGE = "thumbor.storages.no_storage"

MIXED_STORAGE_FILE_STORAGE = "thumbor.storages.no_storage"
MIXED_STORAGE_CRYPTO_STORAGE = "thumbor.storages.no_storage"
MIXED_STORAGE_DETECTOR_STORAGE = "thumbor.storages.no_storage"

DETECTORS = [
]

FILTERS = [
    'thumbor.filters.brightness',
    'thumbor.filters.contrast',
    'thumbor.filters.rgb',
    'thumbor.filters.round_corner',
    'thumbor.filters.quality',
    'thumbor.filters.noise',
    'thumbor.filters.watermark',
    # 'thumbor.filters.equalize',
    'thumbor.filters.fill',
    # 'thumbor.filters.sharpen',
    # 'thumbor.filters.strip_icc',
    # 'thumbor.filters.frame',
    # 'thumbor.filters.grayscale',
    # 'thumbor.filters.rotate',
    # 'thumbor.filters.format',
    # 'thumbor.filters.max_bytes',
    # 'thumbor.filters.convolution',
    # 'thumbor.filters.blur',
    # 'thumbor.filters.extract_focal',
    # 'thumbor.filters.no_upscale',
]

SECURITY_KEY = '______YOUR_SECRET_KEY______'

ALLOW_UNSAFE_URL = False
