import os

# Support hide the image original url in image link
# - if enable, the default settings must set USE_ORIGNAL_IMAGE_URL to True
# LOADER  = "thumbor.loaders.twimg"

STORAGE = "thumbor.storages.no_storage"

MIXED_STORAGE_FILE_STORAGE = "thumbor.storages.no_storage"
MIXED_STORAGE_CRYPTO_STORAGE = "thumbor.storages.no_storage"
MIXED_STORAGE_DETECTOR_STORAGE = "thumbor.storages.no_storage"

DETECTORS = [
]

FILTERS = [
    'thumbor.filters.brightness',
    'thumbor.filters.contrast',
    'thumbor.filters.rgb',
    'thumbor.filters.round_corner',
    'thumbor.filters.quality',
    'thumbor.filters.noise',
    'thumbor.filters.watermark',
]

SECURITY_KEY = '______YOUR_SECRET_KEY______'

ALLOW_UNSAFE_URL = False
