load database
    from '../storage/default.sqlite'
    into postgresql:///web_taut

 with include no drop, create no tables, create indexes

excluding table names matching 'alembic_version'

set work_mem to '16MB', maintenance_work_mem to '512 MB';
