{% extends 'layout/frontend.html' %}
{% from 'share/macro.html' import social_like, facebook_fan_page %}

{% block ogmeta %}
<meta property="og:url" content="{{ url_for('index.index', _external=True) }}">
<meta property="og:title" content="Tautr - Daily | BEAUTY | GIRLS">
<meta property="og:site_name" content="Tautr - Daily | BEAUTY | GIRLS">
<meta property="og:description" content="Tautr - Let's go to collect your media ...">
<meta property="og:type" content="website">
{% endblock %}

{% block container %}
    <div class="index" data-mixpanel-page="Index" data-mixpanel-action="loaded" itemscope itemtype="http://schema.org/Thing">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-9">
                {% for list_media in list_medias.items %}
                    <div class="col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-body thumbnail thumbnail-no-border thumbnail-container">
                                <a href="{{ url_for_media_detail(list_media) }}"
                                    class="load-image-container"
                                    data-image-url="{{ list_media.media_url | proxy_media_url }}"
                                    data-image-width="250"
                                    data-image-height="250"
                                    data-image-alt="{{ list_media.user.name }}"
                                    data-mixpanel-page="home"
                                    data-mixpanel-action="view-media-detail"
                                    itemscope
                                    itemtype="http://schema.org/ImageObject">
                                    <meta itemprop="caption" content="{{ list_media.user.name }}" />
                                    <meta itemprop="thumbnail" content="{{ list_media.media_url | proxy_media_url }}" />
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="col-md-12">
                    <ul class="pager">
                        {% if list_medias.has_prev %}
                            <li class="previous"><a href="{{ url_for('index.index', page=list_medias.prev_num) }}">Previous</a></li>
                        {% endif %}

                        {% if list_medias.has_next %}
                            <li class="next"><a href="{{ url_for('index.index', page=list_medias.next_num) }}">Next</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3">
                {% if config.STATUS_IN_SIDEBAR %}
                    <div class="panel panel-default">
                        <div class="panel-body text-center">
                            <p>Total : {{ total_medias }}</p>
                            <p>Update At: {{ latest_update }}</p>
                        </div>
                    </div>
                {% endif %}

                {{ social_like() }}

                {% if random_media %}
                    <div class="panel panel-default">
                        <div class="panel-heading text-center">Random media</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <a
                                        class="thumbnail thumbnail-no-border load-image-container"
                                        href="{{ url_for_media_detail(random_media) }}"
                                        data-image-url="{{ random_media.media_url | proxy_media_url }}"
                                        data-image-width="250"
                                        data-image-height="300"
                                        >
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}

                {{ facebook_fan_page() }}

                {% include 'share/google-adsense/slidebar.html' %}
            </div>
        </div>
    </div>
{% endblock %}
