{% extends 'layout/frontend.html' %}
{% from 'share/macro.html' import social_like, facebook_fan_page %}

{% block ogmeta %}
<meta property="og:url" content="{{ url_for('index.index', _external=True) }}">
<meta property="og:title" content="Tautr - Daily | BEAUTY | GIRLS">
<meta property="og:site_name" content="Tautr - Daily | BEAUTY | GIRLS">
<meta property="og:description" content="Tautr - Let's go to collect your media ...">
<meta property="og:type" content="website">
{% endblock %}

{% block container %}
    <div class="index" data-mixpanel-page="Index" data-mixpanel-action="loaded">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-9">
                {% for list_media in list_medias.items %}
                    <div class="col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-body thumbnail thumbnail-no-border">
                                <a href="{{ url_for_media_detail(list_media) }}" data-mixpanel-page="home" data-mixpanel-action="view-media-detail">
                                    <img src="{{ list_media.media_url | thumbor(300, 300) }}" alt="{{ list_media.user.name }}">
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="col-md-12">
                    <ul class="pager">
                        {% if list_medias.has_prev %}
                            <li class="previous"><a href="{{ url_for('index.index', page=list_medias.prev_num) }}">Previous</a></li>
                        {% endif %}

                        {% if list_medias.has_next %}
                            <li class="next"><a href="{{ url_for('index.index', page=list_medias.next_num) }}">Next</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3">
                {% if config.STATUS_IN_SIDEBAR %}
                    <div class="panel panel-default">
                        <div class="panel-body text-center">
                            <p>Total : {{ total_medias }}</p>
                            <p>Update At: {{ latest_update }}</p>
                        </div>
                    </div>
                {% endif %}

                {{ social_like() }}

                {% if random_media %}
                    <div class="panel panel-default">
                        <div class="panel-heading text-center">Random media</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <a class="thumbnail thumbnail-no-border" href="{{ url_for_media_detail(random_media) }}">
                                        <img src="{{ random_media.media_url | thumbor(230, 300) }}" class="tips" data-placement="bottom">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}

                {{ facebook_fan_page() }}

                {% include 'share/google-adsense/slidebar.html' %}
            </div>
        </div>
    </div>
{% endblock %}
