{% extends 'layout/backend/home.html' %}

{% block container_home %}
    <div class="content-header">
        <h1>List <small>List Medias <strong>{{ status }}</strong></small></h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> List</a></li>
            <li>List Medias</li>
            <li class="active">{{ status | capitalize }}</li>
        </ol>
    </div>
    <div class="content">
        <div class="row">
            {% for list_media in list_medias.items %}
                <div class="col-md-3">
                    <div class="box">
                        <div class="box-header text-center">
                            <a href="http://twitter.com/{{ list_media.user.screen_name }}" target="_blank"><strong>{{ list_media.user.screen_name }}</strong></a>
                        </div>
                        <div class="box-body">
                            <img src="{{ list_media.media_url | thumbor(188, 255) }}">
                        </div>
                        <div class="box-footer text-center">
                            {% if list_media.is_hide %}
                                <a href="{{ url_for('admin_list_media.show', list_media_id=list_media.id, next=next_url) }}" class="btn btn-primary btn-xs">Show</a>
                                <a href="{{ url_for('admin_list_media.trash', list_media_id=list_media.id, next=next_url) }}" class="btn btn-danger btn-xs">Trash</a>
                            {% endif %}

                            {% if list_media.is_show %}
                                <a href="{{ url_for('admin_list_media.hide', list_media_id=list_media.id, next=next_url) }}" class="btn btn-success btn-xs">Hide</a>
                                <a href="{{ url_for('admin_list_media.trash', list_media_id=list_media.id, next=next_url) }}" class="btn btn-danger btn-xs">Trash</a>
                            {% endif %}

                            {% if list_media.is_trash %}
                                <a href="{{ url_for('admin_list_media.show', list_media_id=list_media.id, next=next_url) }}" class="btn btn-primary btn-xs">Show</a>
                                <a href="{{ url_for('admin_list_media.hide', list_media_id=list_media.id, next=next_url) }}" class="btn btn-success btn-xs">Hide</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-md-12">
                    <div class="box">
                        <div class="box-body">No medias</div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <ul class="pager">
            {% if list_medias.has_prev %}
                <li class="previous"><a href="{{ url_for('admin_list_media.index', page=list_medias.prev_num, status=status) }}">Previous</a></li>
            {% endif %}

            {% if list_medias.has_next %}
                <li class="next"><a href="{{ url_for('admin_list_media.index', page=list_medias.next_num, status=status) }}">Next</a></li>
            {% endif %}
        </ul>
    </div>
{% endblock %}
