{% extends 'layout/backend/home.html' %}

{% block container_home %}
    <div class="content-header">
        <h1>List <small>List Medias <strong>{{ status }}</strong></small></h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> List</a></li>
            <li>List Medias</li>
            <li class="active">{{ status | capitalize }}</li>
        </ol>
    </div>
    <div class="content">
        <div class="row medias"
            data-status="{{ status }}"
            data-medias-href="{{ url_for('admin_list_media.ajax_index') }}"
            data-status-control-href="{{ url_for('admin_list_media.ajax_status_control') }}"
            data-trash-all-href="{{ url_for('admin_list_media.ajax_trash_all') }}">
        </div>
        <ul class="pager"></ul>
        <a href="#" class="btn btn-danger trash-all">Trash all</a>
    </div>

    <script id="medias-template" type="text/x-handlebars-template">
    {% raw %}
        {{#each medias}}
            <div class="col-xs-6 col-md-3">
                <div class="box">
                    <div class="box-header text-center">
                        <a href="http://twitter.com/{{ user.screen_name }}" target="_blank"><strong>{{ user.screen_name }}</strong></a>
                    </div>
                    <div class="box-body">
                        <a href="{{ media_url }}" target="_blank"><img src="{{ thumb_url }}"></a>
                    </div>
                    <div class="box-footer text-center">
                        {{#if is_hide }}
                            <a href="javascript:void(0)" data-id="{{ id }}" data-status="show" class="btn btn-primary btn-xs status-control">Show</a>
                            <a href="javascript:void(0)" data-id="{{ id }}" data-status="trash" class="btn btn-danger btn-xs status-control">Trash</a>
                        {{/if}}

                        {{#if is_show }}
                            <a href="javascript:void(0)" data-id="{{ id }}" data-status="hide" class="btn btn-success btn-xs status-control">Hide</a>
                            <a href="javascript:void(0)" data-id="{{ id }}" data-status="trash" class="btn btn-danger btn-xs status-control">Trash</a>
                        {{/if}}

                        {{#if is_trash }}
                            <a href="javascript:void(0)" data-id="{{ id }}" data-status="show" class="btn btn-primary btn-xs status-control">Show</a>
                            <a href="javascript:void(0)" data-id="{{ id }}" data-status="hide" class="btn btn-success btn-xs status-control">Hide</a>
                        {{/if}}

                        {{#if is_lost }}
                            <a href="javascript:void(0)" data-id="{{ id }}" data-status="show" class="btn btn-primary btn-xs status-control">Show</a>
                            <a href="javascript:void(0)" data-id="{{ id }}" data-status="hide" class="btn btn-success btn-xs status-control">Hide</a>
                            <a href="javascript:void(0)" data-id="{{ id }}" data-status="trash" class="btn btn-danger btn-xs status-control">Trash</a>
                        {{/if}}
                    </div>
                </div>
            </div>
        {{/each}}
    {% endraw %}
    </script>
    <script id="pager-template" type="text/x-handlebars-template">
    {% raw %}
        {{#if prev }}
            <li class="previous"><a href="{{ prev }}">Previous</a></li>
        {{/if}}

        {{#if next }}
            <li class="next"><a href="{{ next }}">Next</a></li>
        {{/if}}
    {% endraw %}
    </script>
{% endblock %}
