{% extends 'layout/backend/home.html' %}

{% block container_home %}
    <div class="content-header">
        <h1>List <small>List Medias <strong>Search</strong></small></h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> List</a></li>
            <li>List Medias</li>
            <li class="active">Search</li>
        </ol>
    </div>
    <div class="content">
        <div class="box">
            <div class="box-body">
                <form method="post" action="{{ url_for('admin_list_media.search') }}" class="form-inline">
                    <div class="form-group">
                        <label class="sr-only" for="keyword">Keyword</label>
                        <input type="text" name="keyword" class="form-control" placeholder="Media Id, Hash Id, Photo file name" value="{{ keyword }}">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="keyword">Type</label>
                        <select name="type" class="form-control">
                            <option value="media-id"{% if type == "media-id" %} selected="selected"{% endif %}>Media Id</option>
                            <option value="hash-id"{% if type == "hash-id" %} selected="selected"{% endif %}>Hash Id</option>
                            <option value="photo-file-name"{% if type == "photo-file-name" %} selected="selected"{% endif %}>Photo file name</option>
                        </select>
                    </div>
                    <input type="submit" class="btn btn-info btn-flat" value="Search">
                    <a class="btn btn-danger btn-flat" href="{{ url_for('admin_list_media.search') }}">Clear</a>
                </form>
            </div>
        </div>

        {% if media %}
            <div class="medias"
                data-status-control-href="{{ url_for('admin_list_media.ajax_status_control') }}">
                <div class="box">
                    <div class="box-header text-center">
                        <a href="http://twitter.com/{{ media.user.screen_name }}" target="_blank"><strong>{{ media.user.screen_name }}</strong></a>
                    </div>
                    <div class="box-body text-center">
                        <a href="{{ media.media_url }}" target="_blank"><img src="{{ media.media_url | thumbor(300, 300) }}"></a>
                    </div>
                    <div class="box-footer text-center">
                        {% if config.USE_MEDIA_DETAIL_HASH_ID_IN_URL %}
                            <a href="javascript:void(0)" data-id="{{ media.hash_id }}" data-status="show" class="btn btn-primary btn-xs status-control"{% if media.status == 'show' %} disabled="disabled"{% endif %}>Show</a>
                            <a href="javascript:void(0)" data-id="{{ media.hash_id }}" data-status="hide" class="btn btn-success btn-xs status-control"{% if media.status == 'hide' %} disabled="disabled"{% endif %}>Hide</a>
                            <a href="javascript:void(0)" data-id="{{ media.hash_id }}" data-status="trash" class="btn btn-danger btn-xs status-control"{% if media.status == 'trash' %} disabled="disabled"{% endif %}>Trash</a>
                            <a href="javascript:void(0)" data-id="{{ media.hash_id }}" data-status="lost" class="btn btn-default btn-xs status-control"{% if media.status == 'lost' %} disabled="disabled"{% endif %}>Lost</a>

                            <a href="javascript:void(0)" data-id="{{ media.hash_id }}" data-status="page" class="btn btn-info btn-xs page-control">Page</a>
                        {% else %}
                            <a href="javascript:void(0)" data-id="{{ media.id }}" data-status="show" class="btn btn-primary btn-xs status-control"{% if media.status == 'show' %} disabled="disabled"{% endif %}>Show</a>
                            <a href="javascript:void(0)" data-id="{{ media.id }}" data-status="hide" class="btn btn-success btn-xs status-control"{% if media.status == 'hide' %} disabled="disabled"{% endif %}>Hide</a>
                            <a href="javascript:void(0)" data-id="{{ media.id }}" data-status="trash" class="btn btn-danger btn-xs status-control"{% if media.status == 'trash' %} disabled="disabled"{% endif %}>Trash</a>
                            <a href="javascript:void(0)" data-id="{{ media.id }}" data-status="lost" class="btn btn-default btn-xs status-control"{% if media.status == 'lost' %} disabled="disabled"{% endif %}>Lost</a>

                            <a href="javascript:void(0)" data-id="{{ media.id }}" data-status="page" class="btn btn-info btn-xs page-control">Page</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
