{% extends 'layout/frontend.html' %}

{% block container %}
    <div class="developer-index">
        <h3>Developer</h3>
        <hr>
        <div class="form-horizontal" role="form">
            <div class="form-group">
                <label for="api_key" class="col-sm-2 control-label">API Key</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="api_key" placeholder="API Key" readonly="readonly" value="{{ developer.api_key }}">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <a href="{{ url_for('developer.request_api_key') }}" class="btn btn-default">Request</a>
                    <a href="{{ url_for('developer.renew_api_key') }}" class="btn btn-default">Renew</a>
                </div>
            </div>
        </div>
        <h3>Resources</h3>
        <hr>
        <p class="lead">Get index page images</p>
        <p>
            <input type="text" class="form-control" readonly="readonly" value="{{ url_for('api_main.index', _external=True) }}">
        </p>
        <table class="table table-striped">
            <tr>
                <th>Parameter</th>
                <th>Required?</th>
                <th>Example</th>
            </tr>
            <tr>
                <td>token</td>
                <td>Yes</td>
                <td>M8Co_wjcYZ3H7i-XcLp8gXcjRRL_QG7C9TcXL9teA04=</td>
            </tr>
            <tr>
                <td>page</td>
                <td>No</td>
                <td>1</td>
            </tr>
        </table>
        <span class="label label-default">Results</span>
        <textarea class="form-control" rows="10" readonly="readonly">
{
    "count": 249,
    "items": [
        {
            "height": 500,
            "id": 1066,
            "media_url": "http://localhost:8888/tnhpkvT_61tyyq7Fr_dEfZVDW9Y=/500x500/pbs.twimg.com/media/B4qofWvCAAAYJWZ.jpg",
            "user": {
                "id": 31,
                "name": "猫守ざーにゃ は 宇宙猫 である"
            },
            "width": 500
        },
        ......
        ......
        ......
        {
            "height": 400,
            "id": 962,
            "media_url": "http://localhost:8888/vaFKlQ_CPOnqOwacDnf41StEW0A=/500x500/pbs.twimg.com/media/B4qkTV6CYAA4bwF.jpg",
            "user": {
                "id": 41,
                "name": "塚本 舞'14@グラドル自画撮り部書記"
            },
            "width": 500
        },
    ],
    "next": "http://localhost:5000/api/?page=3",
    "prev": "http://localhost:5000/api/?page=1"
}
        </textarea>
    </div>
{% endblock %}
