{% extends 'layout/frontend.html' %}

{% block subtitle %}
    {{ list_user.name }}
{% endblock %}

{% block container %}
    <div class="media-detail">
        <h3>{{ list_user.name }}</h3>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="thumbnail">
                    <img src="{{ list_media.media_url | thumbor(500, 500) }}">
                </div>
                {% include "share/addthis.html" %}
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        {% if list_media.is_bookmarked %}
                            <a href="{{ url_for('bookmark.remove', list_media_id=list_media.id) }}" class="btn btn-danger">
                                <div class="hidden-xs">
                                    <i class="glyphicon glyphicon-paperclip"></i> Bookmarked
                                </div>
                                <div class="visible-xs">
                                    <i class="glyphicon glyphicon-paperclip"></i>
                                </div>
                            </a>
                        {% else %}
                            <a href="{{ url_for('bookmark.create', list_media_id=list_media.id) }}" class="btn btn-info">
                                <div class="hidden-xs">
                                    <i class="glyphicon glyphicon-paperclip"></i> Bookmark
                                </div>
                                <div class="visible-xs">
                                    <i class="glyphicon glyphicon-paperclip"></i>
                                </div>
                            </a>
                        {% endif %}

                        <a href="{{ list_media.media_url }}" class="btn btn-info" download="{{ list_media.media_url }}">
                            <div class="hidden-xs">
                                <i class="glyphicon glyphicon-download-alt"></i> Download
                            </div>
                            <div class="visible-xs">
                                <i class="glyphicon glyphicon-download-alt"></i>
                            </div>
                        </a>
                        <a href="{{ list_media.media_url | thumbor(500, 500) }}" class="btn btn-info pull-right tips" data-placement="bottom" title="Preview images" data-photo-swipe="true" data-size="500x500">
                            <i class="glyphicon glyphicon-eye-open"></i>
                        </a>
                    </div>
                </div>
                <div class="row">
                    {% for user_media in user_medias %}
                        <div class="col-xs-6 col-sm-3 col-md-3">
                            <a class="thumbnail" rel="group" href="{{ url_for('media.detail', list_media_id=user_media.id) }}">
                                <img src="{{ user_media.media_url | thumbor(100, 146) }}" alt="{{ user_media.user.name }}" class="tips" data-placement="bottom" title="{{ user_media.user.name }}">
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                {{ comments | length }} comments
            </div>
            <div class="panel-body">
                {% if comments %}
                    {% for comment in comments %}
                        {% if loop.index > 1 %}
                            <hr>
                        {% endif %}
                        <div class="media" id="comment-{{ comment.id }}">
                            <a class="pull-left" href="#">
                                <img class="media-object img-rounded" src="{{ comment.user.avatar(48) }}">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">
                                    <a href="#">{{ comment.user.username }}</a>
                                    <small>
                                        {{ comment.create_at | timeago }}
                                    </small>
                                </h4>
                                <p class="comment-content">
                                    {{ comment.content }}
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="alert alert-info">No comments yet.</div>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="container">
                <div class="panel panel-default">
                    {% if g.user %}
                        <form class="form panel-body" action="{{ url_for('media.detail', list_media_id=list_media.id) }}" method="post">
                            {{ form.csrf_token }}
                            <div class="form-group">
                                {{ form.content.label(class_='sr-only') }}
                                {{ form.content(class_='form-control') }}
                            </div>
                            <div class="form-submit text-right">
                                <button class="btn btn-success">Leave a Comment</button>
                            </div>
                        </form>
                    {% else %}
                        <div class="panel-body">
                            <div class="alert alert-info">Login is required</div>
                            <a href="{{ url_for('index.login') }}" class="btn btn-success">Sign In</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
